  <form [formGroup]="form" (ngSubmit)="onSave()" class="space-y-6 flex flex-col justify-between h-full flex-1 min-h-0  mx-3">

    <app-input [label]="'htmlEditor.label.title' | translate" [placeholder]="'htmlEditor.placeholder.exampleTitle' | translate" formControlName="title"></app-input>
    <label class="block mb-1 text-base text-lg pointer-events-none"> {{ 'htmlEditor.label.editor' | translate }} </label>

    <div
      class="flex-1 min-h-0 flex flex-col rounded-xl border border-slate-300 shadow-sm"
      [ngClass]="baseClasses()">
      <quill-editor
        formControlName="text"
        [modules]="modules"
        [format]="'html'"
        [placeholder]="'htmlEditor.placeholder.typeHere' | translate">
      </quill-editor>
    </div>

    <div class="mb-3 flex items-center justify-end gap-3">
      <app-button (click)="onCancel()">{{ 'global.button.cancel' | translate }}</app-button>
      <app-button type="submit">{{ 'global.button.save' | translate }}</app-button>
    </div>

  </form>
