  <form [formGroup]="form"
        (ngSubmit)="onSave()"
        class="space-y-6 flex flex-col justify-between h-full flex-1 min-h-0  mx-3">

    <section class="flex-1 min-h-0 flex flex-col space-y-6">
      <app-input
        [label]="'code.label.title' | translate"
        [placeholder]="'code.placeholder.exampleName' | translate"
        formControlName="title"
      >
      </app-input>

      <app-dropdown
        [label]="'code.label.programmingLanguage' | translate"
        [placeholder]="'code.placeholder.choose' | translate"
        [options]="optionsForDropdown()"
        formControlName="language">
      </app-dropdown>

      <div class="flex-1 min-h-0 flex flex-col gap-6">
        <app-textarea
          formControlName="code"
          label="Kód"
          placeholder="Írd ide a kódot…"
          class="flex-1 min-h-64">
        </app-textarea>
      </div>
      <div class="flex-1 min-h-1 flex flex-col">
        <label class="block mb-1 text-base text-lg">{{ 'code.label.Preview' | translate }}</label>
        <pre class="w-full !bg-white h-full px-4 py-2 border border-slate-300 overflow-auto rounded-xl shadow-sm focus:outline-none focus:ring-1 focus:ring-black transition"
             [highlight]="form.value.code || ''"
             [language]="form.value.language || ''">
        </pre>
      </div>
    </section>
    <div class="mb-3 flex items-center justify-end gap-3">
      <app-button (click)="onCancel()">{{ 'global.button.cancel' | translate }}</app-button>
      <app-button type="submit">{{ 'global.button.save' | translate }}</app-button>
    </div>
  </form>
