
<section  class="space-y-6 flex flex-col justify-between h-full flex-1 min-h-0  mx-3">
  @if (!editing) {
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 min-h-0 overflow-auto overscroll-y-contain px-3 mt-3">
      @for (tech of technologies; track tech.name) {
        <app-skill-card [name]="tech.name" [proficiency]="tech.proficiency"></app-skill-card>
      }
    </div>
  }

  @if (editing) {
    <section>
      <form [formGroup]="form" (ngSubmit)="onSave()" class="space-y-6 flex flex-col justify-between h-full flex-1 min-h-0">
        <app-input
          [label]="'skill.label.name' | translate"
          [placeholder]="'skill.placeholder.exampleName' | translate"
          formControlName="name">
        </app-input>

        <app-input
          type="number"
          [label]="'skill.label.proficiency' | translate"
          [placeholder]="'skill.placeholder.exampleProficiency' | translate"
          (keydown)="onlyNumbers($event)"
          min="0"
          max="100"
          formControlName="proficiency">
        </app-input>
      </form>
    </section>
  }

  <section>
      <section class="flex items-center justify-center mx-4">
        @if(!editing){
          <app-button (click)="onAdd()" class="w-full">
            {{ 'skill.button.add' | translate }}
          </app-button>
        }
      </section>


    <section class="my-3 flex items-center justify-end gap-3">
      @if (editing) {
        <app-button (click)="onCancel()">{{ 'global.button.cancel' | translate }}</app-button>

      }
      @if (!editing) {
        <app-button (click)="onBack()">{{ 'global.button.cancel' | translate }}</app-button>

      }
      <app-button type="submit">{{ 'global.button.save' | translate }}</app-button>
    </section>
  </section>
</section>
