<section class="backdrop-blur rounded-2xl pb-3 sm:px-5 m-3 space-y-5 h-full flex-col justify-between">
  <form  [formGroup]="form" class="h-full flex flex-col gap-5">
    <section class="flex-1 min-h-0 flex flex-col space-y-6">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <app-input label="Név / Pozíció" placeholder="Pl. Senior Frontend fejlesztő" formControlName="title"></app-input>
        <app-input label="Cég" placeholder="Pl. TechCorp Kft." formControlName="companyName"></app-input>
        <app-checkbox label="Jelenlegi pozíció" formControlName="current" class="md:mt-10" (checkBoxChanged)="changeCheckBox()"> </app-checkbox>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
        <app-date-picker class="self-center" label="Kezdete:" placeholder="yyyy-mm-dd" formControlName="startDate"></app-date-picker>
        @if(form.value.current){
          <app-date-picker class="self-center" label="Vége:"  placeholder="Jelenlegi" [disabled]="true" formControlName="endDate"></app-date-picker>
        } @else{
          <app-date-picker class="self-center" label="Vége:"  placeholder="yyyy-mm-dd"   formControlName="endDate"></app-date-picker>
        }
      </div>

      <div class="flex-1 min-h-0 h-full">
        <app-textarea
          formControlName="description"
          label="Leírás"
          placeholder="Feladatok, eredmények…"
          class="h-full min-h-0">
        </app-textarea>
      </div>
    </section>

    <div class="mb-3 flex items-center justify-end gap-3">
      <app-button (click)="onCancel()">Mégse</app-button>
      <app-button type="submit">Mentés</app-button>
    </div>
  </form>
</section>
