  <form [formGroup]="form" (ngSubmit)="onSave()" class="space-y-6 flex flex-col justify-between h-full flex-1 min-h-0  mx-3">

    <section class="flex-1 min-h-0 flex flex-col space-y-6">
      <app-input
        [label]="'project.label.title' | translate"
        [placeholder]="'project.placeholder.exampleTitle' | translate"
        formControlName="title">
      </app-input>

      <app-input
        [label]="'project.label.githubRepo' | translate"
        [placeholder]="'project.placeholder.exampleGithub' | translate"
        formControlName="githubLink">
      </app-input>

      <app-input
        [label]="'project.label.projectLink' | translate"
        [placeholder]="'project.placeholder.exampleProjectLink' | translate"
        formControlName="projectLink">
      </app-input>

      <div class="flex flex-col md:flex-row gap-6 flex-1 min-h-0">
        <div class="flex-1 flex flex-col min-h-0 min-w-0">
          <app-textarea
            [label]="'project.label.description' | translate"
            [placeholder]="'project.placeholder.exampleDescription' | translate"
            formControlName="description"
            class="flex-1">
          </app-textarea>
        </div>

        <div class="flex-1 flex flex-col min-h-0 min-w-0">
          <label class="block mb-1 text-base text-lg">
            {{ 'project.label.imageUpload' | translate }}
          </label>

          <div class="flex-1 overflow-auto">
            <app-image-uploader
              [accept]="'image/png,image/jpeg'"
              [maxFiles]="8"
              [maxSizeMB]="5"
              (filesChange)="onFiles($event)">
            </app-image-uploader>
          </div>
        </div>
      </div>
    </section>

    <div class="mb-3 flex items-center justify-end gap-3">
      <app-button type="button" (click)="onCancel()">{{ 'global.button.cancel' | translate }}</app-button>
      <app-button type="submit">{{ 'global.button.save' | translate }}</app-button>
    </div>
  </form>
